<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
  <key>PROJECT_UUID</key>
  <string>63afedf8-0ebc-4474-b911-45f22dd0f4d2</string>
  <key>PROJECT_CLIENT_KEY</key>
  <string>c9ZWwJOsJUTJjmMWajCL9hcMqczgS19U5RfEvwlD</string>
  <key>PROJECT_APP_UUID</key>
  <string>3ad0a72a-c6c1-4596-967d-3e4799bf4aa7</string>
</dict>
</plist>
